In [1]:
#Task 1
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randint(0,100,size=(4, 4)), columns=list('ABCD'))
df

    A   B   C   D
0  59  36  66  14
1  18  37  44  23
2  20  72   1  27
3  70  31  28  46

In [2]:
#Task 2
df.rename(columns = {'A':'Random value 1', 'B':'Random value 2', 'C':'Random value 3', 'D':'Random value 4'}, inplace = True)
print(df.columns)

Index(['Random value 1', 'Random value 2', 'Random value 3', 'Random value 4'], dtype='object')

In [3]:
#Task 3
print(df.describe())

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean        41.750000       44.000000       34.750000       27.500000
std         26.663021       18.850287       27.366342       13.478378
min         18.000000       31.000000        1.000000       14.000000
25%         19.500000       34.750000       21.250000       20.750000
50%         39.500000       36.500000       36.000000       25.000000
75%         61.750000       45.750000       49.500000       31.750000
max         70.000000       72.000000       66.000000       46.000000

In [5]:
#Task 4
df.isnull().values.any()

False

In [6]:
#Task 4
r = df.dtypes
print(r)

Random value 1    int64
Random value 2    int64
Random value 3    int64
Random value 4    int64
dtype: object

In [8]:
#Task 5
a = df.loc[:, ['Random value 2', 'Random value 3']]
print(a)

   Random value 2  Random value 3
0              36              66
1              37              44
2              72               1
3              31              28

In [17]:
#Task 5
df.iloc[:,[1,2]]

   Random value 2  Random value 3
0              36              66
1              37              44
2              72               1
3              31              28